@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: Oswald;
    src: url(/dist/fonts/Oswald/Oswald-Bold.ttf) format("truetype");
  }

  body {

  }

  .container {
    
  }

    h1 {
      @apply  mb-6 text-3xl sm:text-5xl xl:text-6xl font-headline text-mainColor dark:text-yellow-200;
    }
    h2 {
      @apply mb-3 text-xl sm:text-2xl md:text-3xl xl:text-4xl font-headline text-mainColor dark:text-yellow-200;
    }
    h3 {
      @apply mb-4 md:mb-2 text-xl md:text-2xl xl:text-3xl font-headline text-mainColor dark:text-yellow-200;
    }
    p {
      @apply text-lg xl:text-xl 2xl:text-2xl dark:text-gray-100;
    }
    li {
      @apply mb-4 text-lg md:text-xl xl:text-2xl dark:text-gray-100;
    }

    .btn {
      @apply rounded shadow-sm transition hover:shadow-none px-3 py-2 dark:text-white
    }

    .btn-icon {
      @apply flex items-center
    }

    .btn-gray {
      @apply bg-gray-300 hover:bg-gray-400 dark:bg-gray-500 dark:hover:bg-gray-600
    }
    .btn-indigo {
      @apply bg-indigo-300 hover:bg-indigo-400 dark:bg-indigo-400 dark:hover:bg-indigo-500
    }

  }
  